.SettingPage{
    width: 100%;
    height: 100vh;
    background-color: #FFF3F3;
    display: flex;
    align-items: center;
    justify-content: center;


}
.SettingBox{
    width: 50%;
    height: 620px;
    background-color: black;
    margin-top: 40px;
    display: flex;

}
.settingImage{
    width: 60%;
    height: 100%;
    display: flex;
    background-color: wheat;
    position:relative;


}
.settingImage img{
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0px;
    left: 0px;
}
.SettingInner{
    width: 100%;
    height: 100%;
    display: flex;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center ;
    flex-direction: column;


}
.SettingInnerPart1{
    width: 100%;
    height: 20%;
    display: flex;
    background-color: #9B89B3;
    justify-content: center;
    align-items: center;
    position: relative;


}
.SettingCircle{
    position: absolute;
    bottom: -42px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
   cursor: pointer;

    height: 75px;
    width: 75px;
    background-color: rgb(219, 216, 216);
    border-radius: 50%;



}
.SettingCircle img{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border-radius: 50%;

}

.SettingCircle label{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 90px;
    cursor: pointer;
}
.SettingCircle input{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}
.SettingCircle label{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}
.SettingInnerPart1 h2{
    color: white;
}

.SettingInnerPart2{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;

    justify-content: center;
    
}
.SettinIputBox{
    width: 80%;
    height: 75%;
    padding-top: 20px;
    padding-bottom: 20px;

}
.SettinIputBox label{
    margin-bottom: 7px;
}
.SettingUsername{
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10px;
    padding-left: 10px;

}
.SettingUsername input{
    width: 95%;
    height: 45%;
    outline: none;
    border: 0.5px solid rgb(120, 118, 118);
    border-radius: 5px;
    padding: 14px 20px;
}
.SettingEmail{
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10px;
    padding-left: 10px;

}
.SettingEmail input{
    width: 95%;
    height: 45%;
    outline: none;
    border: 0.5px solid rgb(120, 118, 118);
    border-radius: 5px;
    padding: 14px 20px;

}
.SettingPassword{
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10px;
    padding-left: 10px;

}
.SettingPassword input{
    width: 95%;
    height: 45%;
    outline: none;
    border: 0.5px solid rgb(120, 118, 118);
    border-radius: 5px;
    padding: 14px 20px;

    
}
.SettingButton{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.SettingButton button{
    width: 85%;
    height: 50%;
    background-color: #000000;
    color: white;
    border-radius: 8px;
    border: none;
    font-weight: bolder;
    font-size: large;
    cursor: pointer;
}



@media only screen and (max-width: 950px) {
    .settingImage{
        display: none;
    }
    .SettingInner{
        width: 100%;

    }
    .SettingBox{
        width: 95%;
    }
    

    
    
    
}

@media only screen and (max-width: 650px) {
    .settingImage{
        display: none;
    }
    .SettingInner{
        width: 100%;

    }
   

    
    
    
}




















