.Product{
    margin: 5px;
    margin-bottom: 25px;
    min-width: 280px;
    width: 330px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5fbfd;
    position: relative;
}
.Product img{
    position: absolute;
    top: 0px;
    left: 0px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.Product:hover > .ProductHover{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.2;
    z-index: 4;
  
    
}
.Product:hover > .ProductIcons{
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 140px;
    height: 60px;

    z-index: 5;
    cursor: pointer ;
}
.ProductIcons{
    display: none;
}
.ProductIcons1{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s ease;
}
.ProductIcons1:hover{
    width: 50px;
    height: 50px;
    background-color: rgb(207, 207, 217);
}
.ProductIcons2{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s ease;
}
.ProductIcons2:hover{
    width: 50px;
    height: 50px;
    background-color: rgb(207, 207, 217);
}
.ProductCircle{
    width: 50%;
    height: 50%;
    border-radius: 50%;
    background-color: white;
}
.ProductHover{
   display: none;
   transition: 2s ease;
}
.linkProduct{
    width: 100%;
    height: 100%;

   
}
@media only screen and (max-width: 650px) {
    .Product{
        width: 350px;
    }
   
    
    
}